
@model IEnumerable<Filmsayt.Models.tbl_kategoriya>

@{
    ViewBag.Title = "Kategoriyalistesi";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        Kategoriyalar
    </header>
    <div class="panel-body">
        <div class="adv-table editable-table ">
            <br />
            <div class="clearfix">
                <div class="btn-group">
                    <a href="/Admin/Kategoriyaelaveet" class="btn btn-primary">
                        Yeni Kategoriya <i class="icon-plus"></i>
                    </a>
                </div>

            </div>
            <br />
            <div class="space15"></div>
            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                    <tr>
                        <th>Kategoriya Adi</th>                       
                        <th>Guncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var ktg in Model)
                    {
                        <tr class="">
                            <td>@ktg.kategoriyaadi</td>
                           
                            <td><a class="edit" href="/Admin/Kategoriyaguncelle/@ktg.id">Guncelle</a></td>
                            <td><a class="delete" href="/Admin/Kategoriyasil/@ktg.id">Sil</a></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>