
<link rel="stylesheet" type="text/css" href="~/Content/s/engine1/style.css" />
<script type="text/javascript" src="~/Content/s/engine1/jquery.js"></script>

<div id="wowslider-container1" style="background-color:#020d18;">
    <div class="ws_images">
        <ul>
            <li><img src="~/Content/s/data1/images/jkj.png" alt="jkj" title="Spider Into Verse" id="wows1_0" /></li>
            <li><img src="~/Content/s/data1/images/a.jpg" alt="a" title="Shrek 2" id="wows1_1" /></li>
            <li><img src="~/Content/s/data1/images/b.jpg" alt="b" title="Buz Dövrü" id="wows1_2" /></li>
            <li><img src="~/Content/s/data1/images/c.jpg" alt="c" title="Marslı" id="wows1_3" /></li>
            <li><img src="~/Content/s/data1/images/d.jpg" alt="d" title="Star Wars Force Awaken" id="wows1_4" /></li>
            <li><img src="~/Content/s/data1/images/e.jpg" alt="e" title="Spider Man" id="wows1_5" /></li>
            <li><img src="~/Content/s/data1/images/f.jpg" alt="f" title="Iron Man 2" id="wows1_6" /></li>
            <li><img src="~/Content/s/data1/images/g.jpg" alt="g" title="Interstellar" id="wows1_7" /></li>
            <li><a href="#"><img src="~/Content/s/data1/images/h.jpg" alt="bootstrap carousel" title="Harry Potter And Death Hallows Part 2" id="wows1_8" /></a></li>
            <li><img src="~/Content/s/data1/images/j.jpg" alt="j" title="Avengers" id="wows1_9" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title="jkj"><span><img src="~/Content/s/data1/tooltips/jkj.png" alt="jkj" />1</span></a>
            <a href="#" title="a"><span><img src="~/Content/s/data1/tooltips/a.jpg" alt="a" />2</span></a>
            <a href="#" title="b"><span><img src="~/Content/s/data1/tooltips/b.jpg" alt="b" />3</span></a>
            <a href="#" title="c"><span><img src="~/Content/s/data1/tooltips/c.jpg" alt="c" />4</span></a>
            <a href="#" title="d"><span><img src="~/Content/s/data1/tooltips/d.jpg" alt="d" />5</span></a>
            <a href="#" title="e"><span><img src="~/Content/s/data1/tooltips/e.jpg" alt="e" />6</span></a>
            <a href="#" title="f"><span><img src="~/Content/s/data1/tooltips/f.jpg" alt="f" />7</span></a>
            <a href="#" title="g"><span><img src="~/Content/s/data1/tooltips/g.jpg" alt="g" />8</span></a>
            <a href="#" title="h"><span><img src="~/Content/s/data1/tooltips/h.jpg" alt="h" />9</span></a>
            <a href="#" title="j"><span><img src="~/Content/s/data1/tooltips/j.jpg" alt="j" />10</span></a>
        </div>
    
</div>
<script type="text/javascript" src="~/Content/s/engine1/wowslider.js"></script>
<script type="text/javascript" src="~/Content/s/engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->